
#box00 {
    border-top: none;
    border-left: none;
}

#box01 {
    border-top: none;
}

#box02 {
    border-top: none;
    border-right: none;
}

#box10 {
    border-left: none;
}

#box12 {
    border-right: none;
}

#box20 {
    border-left: none;
    border-bottom: none;
}

#box21 {
    border-bottom: none;
}

#box22 {
    border-bottom: none;
    border-right: none;
}
