@import url(https://fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
$font: Open Sans, Arial;

$primary: #F5F5F5;
$secondary: #00a7e1;
$tertiary: #00a7e1;

@mixin noSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

@mixin blur($pixels) {
  box-shadow: 0px 0px $pixels 0px rgba(0,0,0,0.75);
}

@mixin shadow($width, $opacity) {
  box-shadow: $width $width $width $width rgba(0,0,0,$opacity);
}

@mixin center() {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  font-family: $font;
  background-color: $primary !important;
  line-height: 2 !important;
}

#app-container {
  @include center();
  width: 100%;
  height: 70%;
}


.box {
  @include noSelect();
  border: 5px solid $tertiary;
  color: $tertiary;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  font-size: 1.5rem;
}

.open-box:hover {
  color: $primary;
  background: $secondary;
  -webkit-transform: scale3d(1.05, 1.05, 0.3);
          transform: scale3d(1.05, 1.05, 0.3);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}


.footer {
  @include blur(5px);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'sans-serif';
  background-color: white;
  text-align: center;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0px;
}

#info-tab {
  margin-left: 15px;
}

.modal {
  @include center();
  @include blur(30px);
  color: $primary;
  display: block !important;
  z-index: 2;
  height: 150px;
  width: 525px;
  background-color: $tertiary;
  padding: 25px;
  font-family: 'sans-serif';
  text-align: center;
}

.user-choice {
  @include noSelect();
  display: inline-block;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin: 5px 30px 0px 30px;
  border-radius: 50%;
  cursor: pointer;
  
  -webkit-transition: color 0.35s ease-in-out;
  
  transition: color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
}

.user-choice:hover {
  color: $tertiary;
  background-color: $primary;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  box-shadow: 0px 0px 20px 0px rgba(#000000, 0.25);

}
